# Entorno virtual (no debe subirse)
.venv/
.env
# Cachés de Python
__pycache__/
*.py[cod]

# Archivos de bases de datos locales
*.db
*.sqbpro
# Archivos temporales de VS Code / sistema
.vscode/
.DS_Store
Thumbs.db

# Documentos de registro del proyecto
docs/Logros diario/
docs/Logros semana/
